* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

.section-1 {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  height: 100vh;

  width: 100%;
}
.section-1 h1 {
  font-size: 6vw;
}
.section-1 img {
  top: 125%;
  left: 0%;
  width: 100%;
  position: absolute;
  z-index: 2;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;

  z-index: 3;
  opacity: 1;
}

/* sectoin-2 */

.section-2 {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
}
.section-2 h1
{
    font-size: 20vw;color: #fff;
}
.section-2 img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.img-1 {
  position: absolute;
  top: 25%;
  left: 50%;
  background-repeat: no-repeat;
  background-image: url("./images-2-removebg-preview.png");
  height: 30vh;
  width: 30vw;
}
.img-2 {
  position: absolute;
  top: 45%;

  left: 20%;
  background-repeat: no-repeat;
  background-image: url("./images-2-removebg-preview.png");
  height: 30vh;
  width: 30vw;
}
.img-3 {
  position: absolute;
  top: 25%;

  right: 20%;
  background-image: url("./images-2-removebg-preview.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  width: 30vw;
}
.img-4 {
  position: absolute;
  top: 60%;

  left: 50%;
  background-image: url("./images-2-removebg-preview.png");
  background-repeat: no-repeat;

  height: 30vh;
  width: 30vw;
}
.img-4 {
  position: absolute;
  top: 0%;

  left: 4%;
  background-image: url("./images-2-removebg-preview.png");
  background-repeat: no-repeat;

  height: 30vh;
  width: 30vw;
}
.img-5 {
  position: absolute;
  top: 4%;

  left: 10%;
  background-image: url("./images-2-removebg-preview.png");
  background-repeat: no-repeat;

  height: 30vh;
  width: 30vw;
}
.img-5 {
  position: absolute;
  top: 4%;

  left: 80%;
  background-image: url("./images-2-removebg-preview.png");
  background-repeat: no-repeat;

  height: 30vh;
  width: 30vw;
}

.img-6 {
  position: absolute;
  top: 4%;

  left: 80%;
  background-image: url("./images-2-removebg-preview.png");
  background-repeat: no-repeat;

  height: 30vh;
  width: 30vw;
}
.img-7 {
  position: absolute;
  top: 4%;

  left: 80%;
  background-image: url("./images-2-removebg-preview.png");
  background-repeat: no-repeat;

  height: 30vh;
  width: 30vw;
}
.img-8 {
  position: absolute;
  top: 4%;

  left: 80%;
  background-image: url("./images-2-removebg-preview.png");
  background-repeat: no-repeat;

  height: 30vh;
  width: 30vw;
}
.img-9 {
  position: absolute;
  top: 4%;

  right: 80%;
  background-image: url("./images-2-removebg-preview.png");
  background-repeat: no-repeat;

  height: 30vh;
  width: 30vw;
}
.img-10 {
  position: absolute;
  top: 4%;

  right: 80%;
  background-image: url("./images-2-removebg-preview.png");
  background-repeat: no-repeat;

  height: 30vh;
  width: 30vw;
}

.img-11 {
  position: absolute;
  top: 14%;

  right: 60%;
  background-image: url("./images-2-removebg-preview.png");
  background-repeat: no-repeat;

  height: 30vh;
  width: 30vw;
}

.img-12 {
  position: absolute;
  top: 50%;

  right: 50%;
  background-image: url("./images-2-removebg-preview.png");
  background-repeat: no-repeat;

  height: 30vh;
  width: 30vw;
}
/* section-2 */